.page-navbar-md,
.page-navbar {
  position: fixed;
  top: 0px;
  height: 70px;
  background-color: transparent;
  color: white;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;
}

.page-navbar-md::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  height: 0px;
  width: 100%;
  background-color: black;
}

.page-navbar-md .page-navbar-holder-md {
  width: 90%;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 700;
}

.page-navbar-md .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}

.page-navbar-md .navbar-logo .logo-text {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.page-navbar .page-navbar-holder {
  width: 90%;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 700;
}

.page-navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}

.page-navbar .navbar-logo .logo-text {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.navbar-menu {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.falling-nav {
  top: 70px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 0px;
  background-color: black;
  z-index: 800;
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.falling-nav ul {
  list-style: none;
  margin: 0px auto 0px auto;
  width: 90%;
}

.falling-nav li {
  cursor: pointer;
  font-size: 40px;
  background-color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 2px solid gray;
}

.falling-nav li a {
  color: white;
}

.falling-nav li:hover {
  background-color: #1DB954;
}

.change .falling-nav {
  height: 200px;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
}

.bar-container .bar1,
.bar-container .bar2,
.bar-container .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
          transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.unscrolled .navbar-menu-md,
.scrolled .navbar-menu-md {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unscrolled .navbar-menu-md li,
.scrolled .navbar-menu-md li {
  height: 100%;
  font-size: 30px;
  list-style: none;
  margin-left: 40px;
  padding: 10px;
}

.unscrolled .navbar-menu-md li a,
.scrolled .navbar-menu-md li a {
  text-decoration: none;
}

.unscrolled .navbar-menu-md li:hover,
.scrolled .navbar-menu-md li:hover {
  cursor: pointer;
}

.a-nav-element {
  text-decoration: none;
  color: white;
}

.unscrolled li:hover {
  color: #e1f015;
}
/*# sourceMappingURL=navbarMD.css.map */