.navbar-container {
  background-color: black;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-container .navbar-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
}

.navbar-container .navbar-site li {
  font-family: 'Anton', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
  list-style: none;
  color: white;
  position: relative;
  cursor: pointer;
}

.navbar-container .navbar-site li::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 0px;
  border-radius: 3px;
  border: solid 2px #1DB954;
  height: 2px;
  background-color: #1DB954;
  width: 100%;
  display: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navbar-container .navbar-site li.active::after {
  display: block;
}

.navbar-container .navbar-site li.hover::after {
  display: block;
  background-color: #1DB954;
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.page-navbar-md,
.page-navbar {
  position: fixed;
  top: 0px;
  height: 70px;
  background-color: transparent;
  color: white;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0px auto 0px auto;
}

.page-navbar-md::before {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  height: 0px;
  width: 100%;
  background-color: black;
}

.page-navbar-md .page-navbar-holder-md {
  width: 90%;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 700;
}

.page-navbar-md .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  -webkit-transition: width 1s ease-in;
  transition: width 1s ease-in;
}

.page-navbar-md .navbar-logo .logo-text {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.page-navbar .page-navbar-holder {
  width: 90%;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 700;
}

.page-navbar .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}

.page-navbar .navbar-logo .logo-text {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.navbar-menu {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.falling-nav {
  top: 70px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 0px;
  background-color: black;
  z-index: 800;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}

.falling-nav ul {
  list-style: none;
  margin: 0px auto 0px auto;
  width: 90%;
}

.falling-nav li {
  cursor: pointer;
  font-size: 40px;
  background-color: black;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.falling-nav li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.change .falling-nav {
  height: 200px;
}

.bar-container {
  display: inline-block;
  cursor: pointer;
}

.bar-container .bar1,
.bar-container .bar2,
.bar-container .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
          transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

.unscrolled .navbar-menu-md,
.scrolled .navbar-menu-md {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unscrolled .navbar-menu-md li,
.scrolled .navbar-menu-md li {
  height: 100%;
  font-size: 30px;
  list-style: none;
  margin-left: 40px;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.unscrolled .navbar-menu-md li:hover,
.scrolled .navbar-menu-md li:hover {
  cursor: pointer;
}

.unscrolled li:hover {
  color: #e1f015;
}

.scrolled li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.your-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-top-container .top-artist-container {
  width: 80%;
  height: 200px;
  margin-top: 50px;
  border: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.your-top-container .top-artist-container .card-artist-info {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-top-container .top-artist-container .card-artist-info h3 {
  font-family: 'Anton', sans-serif;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.your-top-container .top-artist-container .card-artist-info h5 {
  font-family: 'Anton', sans-serif;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  font-size: 0.7em;
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.your-top-container .top-artist-container:hover {
  width: 82%;
  background: #1DB954;
  color: white;
}

@media (max-width: 992px) {
  .navbar-container .navbar-site li {
    font-size: 2.7em;
  }
}

@media (max-width: 768px) {
  .navbar-container .navbar-site li {
    font-size: 2.3em;
  }
  .navbar-container .navbar-site li::after {
    content: '';
    position: absolute;
    top: 50px;
  }
}
/*# sourceMappingURL=TopStats.css.map */