.navbar-container {
  background-color: black;
  height: 100px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .navbar-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;

    & li {
      font-family: 'Anton', sans-serif;
      font-family: 'Varela Round', sans-serif;
  
      font-size: 3em;
      list-style: none;
      color: white;
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        top:60px;
        left: 0px;
        border-radius: 3px;
        border: solid 2px #1DB954;
      
        height: 2px;
        background-color: #1DB954;
        width: 100%;
        display: none;

        transition: all 0.2s ease;
      }

      &.active {
        &::after {
          display: block;
        }
      }

      &.hover {
        &::after {
          display: block;
          background-color: #1DB954;
          filter: opacity(30%);
        }
      }
    }
  }
}